rust/finalfusion-server/target/*
rust/finalfusion-server/finalfusion-server
rust/finalfusion-server/finalfusion-server.dmg
rust/finalfusion-server/finalfusion-server.exe
models/GloVe/*
rust/finalfusion-converter/target/*
models/*
rust/finalfusion-converter/finalfusion-converter
rust/finalfusion-converter/finalfusion-converter.dmg
rust/finalfusion-converter/finalfusion-converter.exe
finalfusion/userPreferences.*
finalfusion/Data/*
finalfusion/Project/DerivedData/*
